<plugin name='enhanced-spring-security' version='1.0' grailsVersion='2.1 &gt; *'>
  <author>Hexacta</author>
  <authorEmail>hat@hexacta.com</authorEmail>
  <title>Enhanced Spring Security Plugin</title>
  <description>Security plugin based on the Authentication plugin
</description>
  <documentation>http://grails.org/plugin/enhanced-spring-security</documentation>
  <type>EnhancedSpringSecurityGrailsPlugin</type>
  <resources>
    <resource>security.SecurityFilters</resource>
    <resource>security.AuthenticationController</resource>
    <resource>security.AuthenticationUserController</resource>
    <resource>security.RoleController</resource>
    <resource>security.AuthenticationUser</resource>
    <resource>security.Component</resource>
    <resource>security.ControllerConfiguration</resource>
    <resource>security.Method</resource>
    <resource>security.Permission</resource>
    <resource>security.Role</resource>
    <resource>security.AuthenticationService</resource>
    <resource>security.AuthenticationTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='net.sourceforge.nekohtml' name='nekohtml' version='1.9.15' />
      <dependency group='xerces' name='xercesImpl' version='2.9.1' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>