<plugin name='enhanced-authentication' version='2.3.2' grailsVersion='2.1 &gt; *'>
  <author>Hexacta</author>
  <authorEmail>hat@hexacta.com</authorEmail>
  <title>Enhanced Authentication Plugin</title>
  <description>Security plugin based on the Authentication plugin
</description>
  <documentation>http://grails.org/plugin/enhanced-authentication</documentation>
  <type>EnhancedAuthenticationGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>RuleSet</resource>
    <resource>security.SecurityFilters</resource>
    <resource>spring.resources</resource>
    <resource>com.hexacta.enhanced.authentication.AuthenticationController</resource>
    <resource>com.hexacta.enhanced.authentication.AuthenticationUserController</resource>
    <resource>com.hexacta.enhanced.authentication.RoleController</resource>
    <resource>test.TestController</resource>
    <resource>com.hexacta.enhanced.authentication.AuthenticationUser</resource>
    <resource>com.hexacta.enhanced.authentication.Component</resource>
    <resource>com.hexacta.enhanced.authentication.ControllerConfiguration</resource>
    <resource>com.hexacta.enhanced.authentication.Method</resource>
    <resource>com.hexacta.enhanced.authentication.Permission</resource>
    <resource>com.hexacta.enhanced.authentication.Role</resource>
    <resource>com.hexacta.enhanced.authentication.AuthenticationService</resource>
    <resource>com.hexacta.enhanced.authentication.AuthenticationTagLib</resource>
  </resources>
  <repositories>
    <repository name='http://maven.hexacta.com:8083/nexus/content/groups/public/' url='http://maven.hexacta.com:8083/nexus/content/groups/public/' />
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='xerces' name='xercesImpl' version='2.9.1' />
      <dependency group='net.sourceforge.nekohtml' name='nekohtml' version='1.9.15' />
    </compile>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.18' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='codenarc' version='0.18.1' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.0' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>